$accent: #d7b399;
$dark: #212121;
$cream: #f9f6f1;
$gray: #cbcfd4;
$light-gray: #f4f4f4;
$dark-gray: #8d8d8d;
$important: #d84033;

body {
  font-family: "Montserrat", sans-serif;
}
.page {
  padding-top: 100px;
  padding-bottom: 125px;
  &-light {
    background-color: $cream;
  }
  &-dark {
    background-color: $dark;
  }
}
.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 26px;
  padding-top: 46px;
}
.nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  &-item {
    margin-right: 52px;
  }
  &-link {
    color: $dark;
    text-decoration: none;
  }
}
.tittle-h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}
.cart {
  background-image: url(../img/basket.svg);
  display: block;
  width: 30px;
  height: 30px;
  padding-left: 45px;
  background-repeat: no-repeat;
  background-position: 0 center;
  &-count {
    background-image: url(../img/cart-img.svg);
    background-repeat: no-repeat;
    background-position: 0 center;

    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 25px;
    display: block;
  }
}
.btn {
  background-color: $accent;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 28px;
  letter-spacing: 1px;
  &-xs {
    padding: 8px 28px;
  }
  &-center {
    display: block;
    text-align: center;
    max-width: 160px;
    margin: 0 auto;
    span {
      margin-right: 10px;
    }
  }
}
.main {
  display: flex;
  justify-content: space-between;
  &item {
    flex: 0 0 50%;
  }
  .sale {
    &-description {
      font-size: 30px;
      font-weight: 400;
      color: $dark;
      letter-spacing: 1px;
    }
    &-title {
      font-size: 55px;
      font-weight: 700;
      color: $dark;
      letter-spacing: 2px;
      margin-top: 30px;
      margin-bottom: 57px;
    }
  }
}
.box {
  position: relative;
  &-price {
    position: absolute;
    right: 5px;
    text-align: right;
    top: 45px;
    &-old {
      font-size: 24px;
      font-weight: 700;
    }
    &-new {
      font-size: 42px;
      font-weight: 700;
      color: $important;
      // margin-bottom: 5px;
      margin-top: 5px;
    }
  }
}

.notice {
  text-align: center;
  color: #ffffff;
  padding: 60px 0 45px 0;
  &-title {
    font-size: 30px;
    text-transform: uppercase;
    span {
      font-weight: 700;
    }
  }
  &-description {
    padding-top: 7px;
    font-size: 21px;
    line-height: 26px;
  }
}
.collection {
  display: flex;
  justify-content: space-between;
  &-item {
    flex: 0 0 50%;
    padding: 45px 0 70px 0;
  }
  &-man {
    background-image: url(/img/man.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: right bottom;
  }
  &-woman {
    background-image: url(/img/woman2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
  }
  &-title {
    font-size: 24;
    font-weight: 300;
    text-transform: uppercase;
  }
  &-description {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 30px;
  }
}
.title-h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}
.product {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 80px;
  &-title {
    padding-top: 5px;
    font-weight: 600;
  }
  &-price {
    color: $accent;
    font-size: 18px;
    font-weight: 700;
    font-style: bold;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 70px 0;

  &-nav {
    flex: 0 0 60%;
    display: flex;
    justify-content: space-between;
    color: $cream;
  }
  &-list {
    list-style-type: none;
    padding-left: 0;
    &-item {
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 400;
    }
    &-title {
      font-weight: 700;
      font-size: 10px;
      text-transform: uppercase;
      color: #ffffff;
    }

    &-item li {
      list-style-type: none;
      line-height: 22px;
    }
    &-link {
      color: $gray;
      text-decoration: none;
    }
  }
}
